@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";
@import '~highlight.js/styles/vs.css';
 
// @include covalent-highlight-theme();

// Define your application's custom theme.
// $primary: mat-palette($mat-indigo);
// $accent:  mat-palette($mat-pink, A200, A100, A400);
// $theme: mat-light-theme($primary, $accent);

$warning:  mat-palette($mat-pink, A200, A100, A400);

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.error {
  color: mat-color($warning) !important;
}

.CodeMirror {
  height: 100%;
}

.mat-expansion-panel-content {
  background: #efefef;
}
